@import "tailwindcss";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.flipbook-canvas {
  box-shadow: 0 30px 60px -12px rgba(0, 0, 0, 0.45);
}
